<div class="panel panel-primary">
  <div class="panel-heading">Input your credentials</div>
  <div class="panel-body">
    <form #loginForm="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email" autofocus #email="ngModel" minlength="3" email  required>
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors.required">
              email is required.
            </div>
            <div *ngIf="email.errors.minlength">
              email must be at least 3 characters long.
            </div>
            <div *ngIf="email.errors.email">
              email must be in the x@y
            </div>
          </div>
      </div>
      <div class="form-group">
        <label for="pass">Password</label>
        <input type="password" class="form-control" id="pass" [(ngModel)]="user.pass" name="pass"  #pass="ngModel"required>
          <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="alert alert-danger">
            <div *ngIf="pass.errors.required">
              password is required.
            </div>
          </div>
      </div>
      <div class="checkbox">
        <label for="">
          <input type="checkbox"> Remember me
        </label>
      </div>
      <button type="submit" class="btn btn-default" [disabled]="!loginForm.form.valid" (click)="login()">Login</button>
      <p>
          <a routerLink="/forgot-pass">Forgot Password</a>
      </p>
    </form>

  </div>
</div>