<div class="panel panel-default" *ngIf="shoppingList">
  <div class="panel-heading"><span class="label label-primary">{{shoppingList.name}}</span> created by <span class="label label-info">{{shoppingList.owner}}</span></div>
  <div class="panel-heading">
    <span *ngIf="shoppingListMembers">
      <span *ngFor="let member of shoppingListMembers">
        <span class="label label-success">{{member.username}}</span>
      </span>
    </span>
    <hr>
    <form #addItemForm="ngForm" class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Add shopping item" [(ngModel)]="shoppingItem.title" name="shoppingItem.title" #shoppingItemTP="ngModel" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Add tag" [(ngModel)]="shoppingItem.tag" name="shoppingItem.tag" #shoppingItemTagTP="ngModel" minlength="3">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Add description" [(ngModel)]="shoppingItem.description" name="shoppingItem.description" #shoppingItemDesTP="ngModel" minlength="5">
      </div>
      <button type="submit" class="btn btn-default" [disabled]="!addItemForm.form.valid" (click)="addShoppingItem()">Add</button>
      <div *ngIf="(shoppingItemTP.invalid && !shoppingItemTP.pristine) && (shoppingItemTP.dirty || shoppingItemTP.touched)" class="alert alert-danger">        
        <div *ngIf="shoppingItemTP.errors.required">
          you should fill the field.
        </div>        
      </div>
      <div *ngIf="(shoppingItemTagTP.invalid && !shoppingItemTagTP.pristine) && (shoppingItemTagTP.dirty || shoppingItemTagTP.touched)" class="alert alert-danger">        
        <div *ngIf="shoppingItemTagTP.errors.minlength">
          minimum length for tag is 3
        </div>        
      </div>
      <div *ngIf="(shoppingItemDesTP.invalid && !shoppingItemDesTP.pristine) && (shoppingItemDesTP.dirty || shoppingItemDesTP.touched)" class="alert alert-danger">        
        <div *ngIf="shoppingItemDesTP.errors.minlength">
          minimum length for description is 5
        </div>        
      </div>
    </form>
  </div>
  <div class="panel-body">
    <ul class="list-group" *ngIf="shoppingItems">
      <li class="list-group-item" *ngFor="let item of shoppingItems;let i = index">
        <div class="row">
          <div class="col-xs-2"><strong>{{item.title}}</strong></div>
          <div class="col-xs-2">
            <span class="label label-info">{{item.tag}}</span>
          </div>
          <div class="col-xs-2 text-info">
            {{item.description}}
          </div>
          <div class="col-xs-6" *ngIf="item.done">
            <div class="row">
              <div class="col-sm-1">
                <input type="checkbox" [checked]="true" disabled>
              </div>
              <div class="col-sm-3">
                Price:{{item.price}}
              </div>
              <div class="col-sm-5">
                <div class="small">Done by <div class="label label-success">{{item.doneBy}}</div></div>
              </div>
              <div class="col-sm-3" *ngIf="currentUser == item.doneBy">
                <button type="submit" class="btn btn-sm btn-danger pull-right" (click)="deleteItem(item.id)">Delete</button>
              </div>
            </div>
          </div>
          <div class="col-xs-6" *ngIf="!item.done">
            <form class="form-inline">
              <div class="checkbox">
                <label><input type="checkbox" [(ngModel)]="itemDoneState[i]" name="itemDoneState[{{i}}]"> Done </label>
              </div>
              <div class="form-group" *ngIf="itemDoneState[i]">
                <label for="price">Price:</label>
                <input type="number" class="form-control" id="price" [(ngModel)]="itemPrice[i]" name="itemPrice[{{i}}]">
              </div>
              <button type="submit" class="btn btn-sm btn-danger pull-right" (click)="deleteItem(item.id)">Delete</button>
              <button *ngIf="itemDoneState[i] && itemPrice[i] && (itemPrice[i]>0)" type="submit" class="btn btn-default pull-right" (click)="updateItem(item.id,itemDoneState[i],itemPrice[i])">Update</button>
            </form>
          </div>
        </div> 
      </li>
    </ul>
    <div>
      Sum:{{shoppingItemsTotalPrice}}
    </div>
  </div>
</div>
<form #searchUserForm="ngForm">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Add new member" [(ngModel)]="search" name="search" #searchTP="ngModel" required>
    <span class="input-group-addon btn" (click)="searchUsers()"><i class="glyphicon glyphicon-search"></i></span>
  </div>
  <div *ngIf="searchTP.invalid && (searchTP.dirty || searchTP.touched)" class="alert alert-danger">        
    <div *ngIf="searchTP.errors.required">
      you should fill the field.
    </div>        
  </div>
</form>
<hr>
<ul class="list-group" *ngIf="foundUsers">
  <li class="list-group-item list-group-item-info pressable" *ngFor="let user of foundUsers">
    {{user.email}}
    <span class="pull-right">
        <span class="btn btn-xs btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true" (click)="addMember(user.id)"></span>
        </span>
    </span>
  </li> 
</ul>